@font-face 
  font-family: 'icomoon'
  src:  url('./../fonts2/icomoon.eot?1zkpte')
  src:  url('./../fonts2/icomoon.eot?1zkpte#iefix') format('embedded-opentype'),
    url('./../fonts2/icomoon.ttf?1zkpte') format('truetype'),
    url('./../fonts2/icomoon.woff?1zkpte') format('woff'),
    url('./../fonts2/icomoon.svg?1zkpte#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-3D:before 
  content: "\e900"

.icon-ARandVR:before 
  content: "\e901"

.icon-article:before 
  content: "\e902"

.icon-book:before 
  content: "\e903"

.icon-business:before 
  content: "\e904"

.icon-close:before 
  content: "\e905"

.icon-content:before 
  content: "\e906"

.icon-copy:before 
  content: "\e907"

.icon-dataRelation:before 
  content: "\e908"

.icon-digitalBook:before 
  content: "\e909"

.icon-distribute:before 
  content: "\e90a"

.icon-distributed:before 
  content: "\e90b"

.icon-H5:before 
  content: "\e90c"

.icon-home:before 
  content: "\e90d"

.icon-imgs:before 
  content: "\e90e"

.icon-index:before 
  content: "\e90f"

.icon-jurisdiction:before 
  content: "\e910"

.icon-open:before 
  content: "\e911"

.icon-polymorph:before 
  content: "\e912"

.icon-products:before 
  content: "\e913"

.icon-publish:before 
  content: "\e914"

.icon-pushArticle:before 
  content: "\e915"

.icon-system:before 
  content: "\e916"

.icon-template:before 
  content: "\e917"

.icon-theme:before 
  content: "\e918"

.icon-thirdParty:before 
  content: "\e919"

.icon-videos:before 
  content: "\e91a"

.icon-voices:before 
  content: "\e91b"

