input::-webkit-input-placeholder
  color #aaa
input::-moz-placeholder /* Mozilla Firefox 19+ */
  color #aaa
input:-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color #aaa
input:-ms-input-placeholder /* Internet Explorer 10-11 */
  color #aaa
input[type=checkbox]
  transform scale(1.2)
.fix
  &:after
    content ' '
    display block
    clear both
.icon
  cursor pointer
.pname
  margin-right 20px
  height 35px
  line-height 35px
.form-group
  margin-top 15px
  label
    margin 0 8px
    height 35px
    line-height 35px
    font-size 14px
    color #424857
    width 80px
    display inline-block
.ell
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
.content-wrap
  padding 30px
  min-width 1200px
  .content
    width 100%
    .search
      background #fff
      padding 17px 0
      .form-control
        margin-left 17px
      .seatch-btns
        float right
    .table-warp
      margin-top 25px
      padding 30px
      background #fff
      .pages
        margin-top 60px
        text-align center
      .table-btns
        .icon
          margin-right 10px
          cursor pointer
.searchWrap
  #mainForm
    .group-inline
      display inline-block
      margin 0 10px
      margin-bottom 17px
.main-content
  .tableWrap
    background-color #fff
.content-wrap
  .el-checkbox
    .el-checkbox__label
      line-height unset