<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../config_js"></script>
  <script src="<%= publicPath %>static/js/polyfill.min.js"></script>
	<% if (dbiHost) { %>
	<script src="http://<%- dbiHost %>/sdk/js?app_id=fc1d3ac8-1c3c-11e8-8899-10c37b907e6f" async></script>
	<% } %>
  <title><%= title %></title>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
