.ib
  display inline-block
.vt
  vertical-align top
.vm
  vertical-align middle
.vm-all
  vertical-align middle
  >span, div, img, input
    vertical-align middle
.vt-all
  vertical-align top
  >span, div, img, input
    vertical-align top
.vb
  vertical-align bottom
.cp
  cursor pointer
.fl
  float left
.fr
  float right
.tc
  text-align center
.tl
  text-align left
.tr
  text-align right
.bbox
  box-sizing border-box
.pr
  position relative
.pa
  position absolute
.f600
  font-weight 600
.f800
  font-weight 800
.tr
  transform rotate(90deg)