/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.finish[data-v-4ff8bc26]{text-align:center}.finish .img[data-v-4ff8bc26]{max-width:220px;max-height:220px;border:2px solid #dedede;border-radius:5px}.finish .text[data-v-4ff8bc26]{width:230px;margin:15px auto;height:30px;line-height:30px;background-color:#ebebeb;border-radius:15px}.finish .percent[data-v-4ff8bc26]{width:350px;margin:20px auto}.finish[data-v-4ff8bc26] .el-button{font-size:18px}.finish>p[data-v-4ff8bc26]{margin-bottom:20px}.finish .tool[data-v-4ff8bc26]{font-size:14px;line-height:22px;color:#f7793e}