/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.detailForm[data-v-139f6673]{text-align:center}.el-tag+.el-tag[data-v-361c76ab]{margin-left:10px}.detailForm[data-v-361c76ab]{width:700px;margin:0 auto;text-align:left}.detailForm .group .tip[data-v-361c76ab]{font-size:14px;color:#999}.detailForm .keyword[data-v-361c76ab]{text-align:center;margin:40px auto}.detailForm .keyword .tip[data-v-361c76ab]{font-size:14px;color:#999;margin-top:15px}.small[data-v-361c76ab]{display:inline-block}