/*!
 * {
 *   "buildtime": "2019-07-19 15:01:49",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "b17f442a6",
 *     "message": [
 *       "commit b17f442a62eb78bc9ab78ffe68e3afb76c3e3548",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jul 19 14:48:13 2019 +0800",
 *       "    xxxxxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */
.btns[data-v-cb351288] {
  text-align: right;
}
.el-icon-close[data-v-cb351288] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}
body .coverContent[data-v-cb351288] {
  text-align: center;
}
body .coverContent label[data-v-cb351288] {
  display: block;
  margin: 0;
  padding: 10px 0;
}
body .coverContent button[data-v-cb351288] {
  display: block;
  margin: 20px auto;
}
.content >li[data-v-cb351288] {
  margin-right: 60px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: 187px;
}
.content >li[data-v-cb351288]:nth-child(4n) {
  margin-right: 0;
}
.content >li .icon[data-v-cb351288] {
  min-width: 178px;
  height: 56px;
  line-height: 56px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
  display: block;
  margin-right: 0;
}
.content >li .icon div[data-v-cb351288] {
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 50%;
  margin-top: -18px;
}
.content >li .icon span[data-v-cb351288] {
  max-width: 130px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content >li .text[data-v-cb351288] {
  font-size: 12px;
  margin: 10px 0;
}
.content >li label[data-v-cb351288] {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.content >li label .right[data-v-cb351288] {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1;
  right: 0;
  display: none;
}
.content >li label input[data-v-cb351288] {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.content >li label input:checked+i[data-v-cb351288] {
  display: block;
  color: #fe4902 !important;
}
.content .defect[data-v-cb351288] {
  margin: 10px 0;
}
.content .defect li[data-v-cb351288] {
  background: #ffefef;
  border: 1px solid #ffbbba;
  color: #ff0a0a;
  line-height: 25px;
}
.content .defect li.pass[data-v-cb351288] {
  border: none;
  background: none;
  color: #44c3aa;
}

.groupWrap[data-v-82bd0f98] {
  display: inline-block;
  width: 209px;
  min-height: 545px;
  background: #fff;
  position: relative;
}
.formWrap[data-v-82bd0f98] {
  text-align: center;
}
.red[data-v-82bd0f98] {
  background: #efefef;
}
.licontent[data-v-82bd0f98] {
  height: 50px;
  line-height: 50px;
  padding-left: 13px;
  position: relative;
  cursor: pointer;
}
.licontent[data-v-82bd0f98]:first-child {
  text-indent: 10px;
  font-size: 16px;
  color: #424857;
  font-weight: 500;
}
.licontent[data-v-82bd0f98]:first-child:after {
  border-bottom: 1px solid #e3e6ec;
  z-index: 10;
}
.licontent:first-child .name[data-v-82bd0f98] {
  font-size: 16px;
  display: initial;
}
.licontent[data-v-82bd0f98]:first-child:before {
  content: " ";
  width: 3px;
  height: 19px;
  background: #39baa1;
  position: absolute;
  z-index: 10;
  margin-top: 15px;
  margin-left: -10px;
}
.licontent .name[data-v-82bd0f98] {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  width: 150px;
  font-size: 14px;
  position: relative;
}
.licontent .name .title[data-v-82bd0f98] {
  max-width: 110px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.licontent[data-v-82bd0f98]:after {
  content: " ";
  position: absolute;
  width: 188px;
  border-bottom: 1px dashed #e3e6ec;
  bottom: 0;
  left: 10px;
}
.licontent .btns[data-v-82bd0f98] {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 50px;
  height: 100%;
  letter-spacing: 7px;
}
.licontent .btns >span[data-v-82bd0f98] {
  display: inline-block;
  width: 50%;
  font-size: 0px;
  height: 50px;
}
.licontent .btns >span >i[data-v-82bd0f98] {
  font-size: 15px;
  width: 100%;
  text-align: center;
  line-height: 50px;
}
.licontent .btns >span >i.el-icon-edit[data-v-82bd0f98] {
  color: #44c3aa;
}
.licontent .btns >span >i.el-icon-delete[data-v-82bd0f98] {
  color: #e75f5f;
}
.addGroupBtnWrap[data-v-82bd0f98] {
  text-align: center;
  margin: 15px 0;
}
.addGroupBtnWrap .addGroupBtn[data-v-82bd0f98] {
  display: inline-block;
  text-align: center;
  width: 124px;
  height: 30px;
  border: 1px solid #999;
  line-height: 30px;
  cursor: pointer;
}

.pageWrap[data-v-6c0c32d9] {
  text-align: center;
  line-height: 40px;
}
.restBody2 .serachWrap[data-v-6c0c32d9] {
  margin-top: 0;
}
.el-icon-close[data-v-6c0c32d9] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}
.namess[data-v-6c0c32d9] img {
  max-height: 35px;
}

.wailian .left[data-v-5c869a99] {
  display: inline-block;
}
.wailian .left img[data-v-5c869a99] {
  width: 400px;
  object-fit: cover;
}
.wailian .right[data-v-5c869a99] {
  display: inline-block;
  padding-left: 20px;
  text-align: left;
}
.wailian .right .wrap video[data-v-5c869a99] {
  width: 400px;
  max-height: 200px;
}
.btns[data-v-5c869a99] {
  text-align: right;
}
.fenmian[data-v-5c869a99] {
  height: 200px;
  margin-left: 25px;
}
.fenmian .label[data-v-5c869a99] {
  text-align: left;
}
.previewImgUrl[data-v-5c869a99] {
  width: 250px;
}
.rowWrap .left[data-v-5c869a99] {
  width: 150px;
  min-width: 150px;
}
.rowWrap .right[data-v-5c869a99] {
  width: 350px;
  margin-left: 10px;
}
.rowWrap .btn[data-v-5c869a99] {
  margin-left: 20px;
}
.meta .btns[data-v-5c869a99] {
  margin: 50px 50px 0 0;
}
.metaadd[data-v-5c869a99] {
  text-align: right;
  margin: 50px 50px;
}
.muluWrap .left[data-v-5c869a99] {
  width: 300px;
  background: #f00;
  display: inline-block;
  overflow: auto;
}
.muluWrap .right[data-v-5c869a99] {
  width: calc(100% - 300px);
  display: inline-block;
  min-height: 500px;
}
.form-control[data-v-5c869a99] {
  line-height: 35px;
}

.btn-right[data-v-7bc4efbe] {
  display: inline-block;
  float: right;
}
.btns[data-v-7bc4efbe] {
  text-align: right;
}
.imgSizeWrap[data-v-7bc4efbe] {
  height: 30px;
  margin-top: 30px;
}
.imgSizeWrap .imgSize[data-v-7bc4efbe] {
  display: inline-block;
  line-height: 20px;
  margin-left: 130px;
  font-size: 14px;
  color: #333;
}
.previewImgUrl[data-v-7bc4efbe] {
  max-width: 300px;
  max-height: 180px;
}
.textarea[data-v-7bc4efbe] {
  resize: none;
}
.form-control[data-v-7bc4efbe] {
  width: 50%;
}

.icon-menu-publish[data-v-ee47fbb6] {
  color: #44c3aa;
}
.notPush[data-v-ee47fbb6] {
  color: #cf2424;
}
.pushed[data-v-ee47fbb6] {
  color: #4ac4ac;
}
.noPush[data-v-ee47fbb6] {
  color: #d64848;
}
.pushing[data-v-ee47fbb6] {
  color: #4ac472;
}
.tableWrap[data-v-ee47fbb6] {
  width: 100% !important;
  box-sizing: border-box;
}

