/*!
 * {
 *   "buildtime": "2019-07-19 15:01:49",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "b17f442a6",
 *     "message": [
 *       "commit b17f442a62eb78bc9ab78ffe68e3afb76c3e3548",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jul 19 14:48:13 2019 +0800",
 *       "    xxxxxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */
.mainRight[data-v-3656f3b8] {
  background: #ececec;
  width: 1703px;
  height: 1025px;
}
.mainRight .maindata[data-v-3656f3b8] {
  width: 1603px;
  height: 975px;
  padding-top: 30px;
  margin: 0 auto;
  background: #fff;
}
.mainRight .maindata .backup[data-v-3656f3b8] {
  width: 100%;
  height: 163px;
  margin-left: 18px;
}
.mainRight .maindata .backup .backup_title[data-v-3656f3b8] {
  line-height: 48px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  position: relative;
}
.mainRight .maindata .backup .backup_title .backup_title_line[data-v-3656f3b8]:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  left: 0;
  top: 15px;
  background: #44c3aa;
  z-index: 10;
}
.mainRight .maindata .backup .backup_title span[data-v-3656f3b8] {
  font-size: 18px;
  color: #333;
  margin-left: 10px;
}
.mainRight .maindata .backup .backup_operate[data-v-3656f3b8] {
  height: 114px;
}
.mainRight .maindata .backup .backup_operate p[data-v-3656f3b8] {
  display: block;
  font-size: 16px;
  color: #333;
  padding-top: 30px;
  letter-spacing: 2px;
}
.mainRight .maindata .backup .backup_operate input[data-v-3656f3b8] {
  width: 82px;
  height: 32px;
  background: #44c3aa;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}
.mainRight .maindata .restore[data-v-3656f3b8] {
  height: 225px;
}
.mainRight .maindata .restore .restore_search[data-v-3656f3b8] {
  margin-top: 30px;
}
.mainRight .maindata .restore .restore_search div[data-v-3656f3b8] {
  width: 500px;
  height: 32px;
}
.mainRight .maindata .restore .restore_search div .search[data-v-3656f3b8] {
  width: 430px;
  height: 30px;
  background: #fff;
  border: 1px solid #ececec;
  float: left;
}
.mainRight .maindata .restore .restore_search div .btn[data-v-3656f3b8] {
  width: 65px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #44c3aa;
  float: left;
  border: none;
}

