/*!
 * {
 *   "buildtime": "2019-07-19 15:01:49",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "b17f442a6",
 *     "message": [
 *       "commit b17f442a62eb78bc9ab78ffe68e3afb76c3e3548",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jul 19 14:48:13 2019 +0800",
 *       "    xxxxxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */
.tableWrap[data-v-5b2fc47c] {
  width: 100% !important;
  box-sizing: border-box;
}
.inputBoxs[data-v-5b2fc47c] {
  display: inline-block;
  line-height: 40px;
  height: 40px;
}
.inputBoxs >input[data-v-5b2fc47c],
.inputBoxs span[data-v-5b2fc47c] {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
.inputBoxs >input[data-v-5b2fc47c] {
  height: 15px;
}
.icon-menu-publish[data-v-5b2fc47c] {
  color: #44c3aa;
}
.group-inline[data-v-5b2fc47c] {
  margin: 0 10px;
  display: inline-block;
}
.form-control[data-v-5b2fc47c] {
  width: 160px;
}
.mediaList >li[data-v-5b2fc47c] {
  margin-left: 5px;
  float: left;
  color: #808080;
}
.mediaList .had[data-v-5b2fc47c] {
  color: #000;
}
.contList li[data-v-5b2fc47c] {
  display: inline-block;
  padding-right: 10px;
}
.contList .disabled[data-v-5b2fc47c] {
  color: #bdbdbd;
}
.notPush[data-v-5b2fc47c] {
  color: #cf2424;
}
.pushed[data-v-5b2fc47c] {
  color: #4ac4ac;
}
.noPush[data-v-5b2fc47c] {
  color: #d64848;
}
.pushing[data-v-5b2fc47c] {
  color: #4ac472;
}
.clear[data-v-5b2fc47c] {
  position: absolute;
  top: 95px;
  left: 370px;
  color: #d9d9d9;
  border-radius: 50%;
  background: #efefef;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

