/*!
 * {
 *   "buildtime": "2019-07-19 15:01:49",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "b17f442a6",
 *     "message": [
 *       "commit b17f442a62eb78bc9ab78ffe68e3afb76c3e3548",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jul 19 14:48:13 2019 +0800",
 *       "    xxxxxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */
.serachWrap[data-v-5a44a03d] {
  margin-bottom: 15px;
}
.el-input[data-v-5a44a03d] {
  width: 300px;
}
.addNew[data-v-5a44a03d] {
  float: right;
}
.el-form-item__label[data-v-5a44a03d] {
  text-align: left;
}
.pass-tip[data-v-5a44a03d] {
  padding-left: 20px;
  font-size: 12px;
  line-height: 1;
  color: #a0a0a0;
  bottom: 0;
  position: absolute;
}
.options li[data-v-5a44a03d] {
  padding-right: 20px;
  display: inline-block;
}
.el-dialog .table th[data-v-5a44a03d],
.el-dialog .table td[data-v-5a44a03d] {
  border-right: 1px solid #ddd;
}

