/*!
 * {
 *   "buildtime": "2019-07-19 15:01:49",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "b17f442a6",
 *     "message": [
 *       "commit b17f442a62eb78bc9ab78ffe68e3afb76c3e3548",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jul 19 14:48:13 2019 +0800",
 *       "    xxxxxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */
.btns[data-v-cb351288] {
  text-align: right;
}
.el-icon-close[data-v-cb351288] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}
body .coverContent[data-v-cb351288] {
  text-align: center;
}
body .coverContent label[data-v-cb351288] {
  display: block;
  margin: 0;
  padding: 10px 0;
}
body .coverContent button[data-v-cb351288] {
  display: block;
  margin: 20px auto;
}
.content >li[data-v-cb351288] {
  margin-right: 60px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: 187px;
}
.content >li[data-v-cb351288]:nth-child(4n) {
  margin-right: 0;
}
.content >li .icon[data-v-cb351288] {
  min-width: 178px;
  height: 56px;
  line-height: 56px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
  display: block;
  margin-right: 0;
}
.content >li .icon div[data-v-cb351288] {
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 50%;
  margin-top: -18px;
}
.content >li .icon span[data-v-cb351288] {
  max-width: 130px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content >li .text[data-v-cb351288] {
  font-size: 12px;
  margin: 10px 0;
}
.content >li label[data-v-cb351288] {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.content >li label .right[data-v-cb351288] {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1;
  right: 0;
  display: none;
}
.content >li label input[data-v-cb351288] {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.content >li label input:checked+i[data-v-cb351288] {
  display: block;
  color: #fe4902 !important;
}
.content .defect[data-v-cb351288] {
  margin: 10px 0;
}
.content .defect li[data-v-cb351288] {
  background: #ffefef;
  border: 1px solid #ffbbba;
  color: #ff0a0a;
  line-height: 25px;
}
.content .defect li.pass[data-v-cb351288] {
  border: none;
  background: none;
  color: #44c3aa;
}

.picker {
  margin-right: 8px;
  width: 350px;
}

.inline[data-v-2401e538] {
  display: inline-block;
}
.btns[data-v-2401e538] {
  text-align: right;
  padding: 10px 0;
}
.previewImgUrl[data-v-2401e538] {
  max-width: 200px;
  max-height: 180px;
}
.form-control[data-v-2401e538] {
  line-height: 35px;
  max-width: 40%;
  margin-right: 20px;
}
.textarea[data-v-2401e538] {
  resize: none;
  max-width: 40%;
  height: 80px !important;
}
.imgSizeWrap[data-v-2401e538] {
  height: 30px;
  margin-top: 30px;
}
.imgSizeWrap .imgSize[data-v-2401e538] {
  display: inline-block;
  line-height: 20px;
  margin-left: 130px;
  font-size: 14px;
  color: #333;
}

.pageWrap[data-v-6c0c32d9] {
  text-align: center;
  line-height: 40px;
}
.restBody2 .serachWrap[data-v-6c0c32d9] {
  margin-top: 0;
}
.el-icon-close[data-v-6c0c32d9] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}
.namess[data-v-6c0c32d9] img {
  max-height: 35px;
}

.time[data-v-7d7817ee] {
  width: 150px;
}
.margin[data-v-7d7817ee] {
  margin-left: 20px;
}
.el-icon-sort-up[data-v-7d7817ee],
.el-icon-sort-down[data-v-7d7817ee] {
  color: #44c3aa;
}
.el-icon-close[data-v-7d7817ee] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}
.preview[data-v-7d7817ee] {
  max-width: 1000px;
  display: inline-block;
}
.preview li[data-v-7d7817ee] {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  positon: relative;
}
.preview li .name[data-v-7d7817ee] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.preview .previewImgUrl[data-v-7d7817ee] {
  width: 180px;
  height: 200px;
  object-fit: contain;
}
.form-control[data-v-7d7817ee],
textarea[data-v-7d7817ee] {
  max-width: 40%;
  resize: none;
}

.el-icon-sort-up[data-v-6f3367bf],
.el-icon-sort-down[data-v-6f3367bf] {
  color: #44c3aa;
}
.form-control[data-v-6f3367bf],
textarea[data-v-6f3367bf] {
  max-width: 40%;
  resize: none;
}
.el-icon-close[data-v-6f3367bf] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}

.btns[data-v-301da2b3] {
  margin-top: 20px;
}
.el-icon-sort-up[data-v-301da2b3],
.el-icon-sort-down[data-v-301da2b3] {
  color: #44c3aa;
}
.el-icon-sort-up[data-v-301da2b3] {
  position: relative;
  left: -10px;
}

.el-icon-sort-up[data-v-043667d1],
.el-icon-sort-down[data-v-043667d1] {
  color: #44c3aa;
}
.total-score[data-v-043667d1] {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  color: #44c3aa;
}
.el-icon-close[data-v-043667d1] {
  position: absolute;
  cursor: pointer;
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 2;
}
.exerciseList[data-v-043667d1] {
  display: inline-block;
}
.exerciseList label[data-v-043667d1] {
  line-height: inherit;
}
.exerciseList li .option[data-v-043667d1] {
  width: 20px;
  text-align: center;
  display: inline-block;
}
.exerciseList li >span[data-v-043667d1] {
  margin-right: 20px;
}
.exerciseInfo >li[data-v-043667d1] {
  padding: 10px;
  background: #ededed;
  position: relative;
  margin-bottom: 20px;
}
.exerciseInfo >li .top >span[data-v-043667d1] {
  margin-right: 20px;
}
.exerciseInfo >li >div.operation[data-v-043667d1] {
  width: 130px;
  text-align: left;
  float: right;
  position: absolute;
  right: 0;
  top: 8px;
}
.exerciseInfo >li >div.exercise[data-v-043667d1] {
  padding-left: 50px;
  width: 50%;
  display: inline-block;
}
.exerciseInfo >li >div.exercise .title[data-v-043667d1] {
  margin: 10px 0;
}
.exerciseInfo >li >div.exercise .title-text[data-v-043667d1] {
  display: inline-block;
}
.exerciseInfo >li >div.exercise .title-text[data-v-043667d1] img {
  max-width: 250px;
  max-height: 250px;
}
.exerciseInfo >li >div.exercise .options[data-v-043667d1] {
  padding-left: 40px;
}
.exerciseInfo >li >div.exercise .options-text[data-v-043667d1] {
  display: inline-block;
}
.exerciseInfo >li >div.exercise .options li[data-v-043667d1] {
  margin-bottom: 5px;
}
.exerciseInfo >li >div.exercise .options li span[data-v-043667d1] {
  margin-right: 20px;
}
.exerciseInfo >li .analysis[data-v-043667d1] {
  padding-left: 50px;
}
.exerciseInfo >li .analysis .title .analysis_text[data-v-043667d1] {
  padding-left: 4em;
  padding-top: 1em;
}
.exerciseInfo >li .analysis .title[data-v-043667d1] img {
  max-width: 200px;
  max-height: 200px;
}
.exerciseInfo >li .relation[data-v-043667d1] {
  width: 40%;
  display: inline-block;
}
.exerciseInfo >li .relation .title[data-v-043667d1] {
  margin: 10px 0;
  display: block;
}

.btns[data-v-321c8b9c] {
  margin-top: 20px;
}
.el-radio[data-v-321c8b9c] {
  line-height: inherit;
}
.icon-menu-publish[data-v-321c8b9c] {
  color: #44c3aa;
}

.label[data-v-4063284c] {
  width: 150px;
}
.form-control[data-v-4063284c] {
  width: 150px;
}
.price[data-v-4063284c] {
  margin-left: 20px;
  color: #929292;
}
.btns[data-v-4063284c] {
  text-align: right;
}

