/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.setting[data-v-d059d388]{padding:20px;color:#444;min-width:1660px}.content[data-v-d059d388]{background:#fff;padding:15px;border-radius:5px;box-shadow:3px -3px 8px #dfdfdf}.content .part .title[data-v-d059d388]{margin-bottom:12px;font-weight:700;line-height:30px;font-size:18px}.content .list[data-v-d059d388]{width:600px;display:-ms-flexbox;display:flex;overflow:hidden;line-height:30px;-ms-flex-pack:justify;justify-content:space-between}.add[data-v-d059d388]{margin-top:20px}