/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.message[data-v-4c60fc35]{color:#444}.message .title[data-v-4c60fc35]{text-align:center;font-size:20px;padding:15px 0 30px}.message .showInfo[data-v-4c60fc35]{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:20px}.message .showInfo a[data-v-4c60fc35]{color:#0084ff}.message .content[data-v-4c60fc35]{margin-bottom:20px}.detail .group[data-v-4c60fc35],.detail .head[data-v-4c60fc35]{display:-ms-flexbox;display:flex}.detail .group[data-v-4c60fc35]{-ms-flex-wrap:wrap;flex-wrap:wrap}.detail .cover[data-v-4c60fc35]{text-align:center}.detail .cover .img[data-v-4c60fc35]{height:150px;width:150px;display:block;background:#e8e8e8;margin-bottom:30px}.detail .cover .img img[data-v-4c60fc35]{width:150px;height:150px;-o-object-fit:contain;object-fit:contain}.detail .item[data-v-4c60fc35]{margin:5px 10px}.detail .item .sex[data-v-4c60fc35]{margin:10px 0 0 10px;display:inline-block;height:20px}.detail .item .tips[data-v-4c60fc35]{font-size:12px;color:#999;margin-left:10px}.detail .width[data-v-4c60fc35]{width:155px}.detail .num[data-v-4c60fc35]{width:50px}.detail .list[data-v-4c60fc35]{display:-ms-flexbox;display:flex}.detail .list .item[data-v-4c60fc35]{height:180px;width:150px;border:1px solid #e8e8e8;margin-bottom:5px}.detail .list .item .pic[data-v-4c60fc35]{height:150px;max-width:150px}.detail .list .item .txt[data-v-4c60fc35]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.footer[data-v-4c60fc35]{text-align:right}