/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.detail .info[data-v-1cbfc5d6]{padding-top:10px;display:-ms-flexbox;display:flex}.detail .info .cover[data-v-1cbfc5d6]{text-align:center}.detail .info .cover .img[data-v-1cbfc5d6]{display:block;border:1px solid #e8e8e8;margin-bottom:30px}.detail .info .cover .img img[data-v-1cbfc5d6]{width:150px;height:150px;-o-object-fit:contain;object-fit:contain}.updateImg[data-v-1cbfc5d6]{display:none}.form[data-v-1cbfc5d6]{width:500px}.hidden[data-v-1cbfc5d6]{display:none}.width[data-v-1cbfc5d6]{width:150px}