/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.noPadding[data-v-0075532c] .el-dialog__body{padding:0 20px}.passContent .group[data-v-0075532c]{margin:20px 0}.passContent .group .des[data-v-0075532c]{text-align:right;display:inline-block;width:50px;margin-right:20px}.passContent .group input[data-v-0075532c]{width:200px}.passContent .group .codeimg[data-v-0075532c]{vertical-align:middle}.box[data-v-0075532c]{padding:20px}.box .div[data-v-0075532c]{background:#fff;width:100%;padding:20px;position:relative;overflow:hidden}.box .div .content1 .left[data-v-0075532c]{width:200px;height:100%;float:left}.box .div .content1 .left .touxiang[data-v-0075532c]{width:100px;height:100px;margin:0 auto;border-radius:50%;border:1px solid #ccc}.box .div .content1 .left .touxiang img[data-v-0075532c]{background-position:50%;border-radius:50%;width:100px;height:100px}.box .div .content1 .left .name[data-v-0075532c]{text-align:center;line-height:20px;padding-top:20px}.box .div .content1 .left .change[data-v-0075532c]{margin-left:35%;margin-top:10px}.box .div .content1 .right[data-v-0075532c]{float:left;width:calc(100% - 220px);border-left:1px solid #ccc}.box .div .content1 .right[data-v-0075532c] .text{color:#888}.box .div .content1 .right form[data-v-0075532c]{width:400px}.box .div .content1 .right .changePass[data-v-0075532c]{padding-left:80px}.box .div .content1 .teacher[data-v-0075532c]{float:left;margin-right:300px;height:auto}.box .div .content1 .teacher .picture[data-v-0075532c]{width:150px;height:150px}.box .div .content1 .teacher .picture img[data-v-0075532c]{width:100%;height:100%}.box .div .content1 .teacher .select[data-v-0075532c]{margin-top:20px}.box .div .bottom[data-v-0075532c]{margin-left:200px}