/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.div[data-v-76340c0a]{width:100%;height:1000px}.div .top[data-v-76340c0a]{width:100%;height:78px;background:#ccc;line-height:78px;font-size:18px}.div .top img[data-v-76340c0a]{width:97px;height:38px;padding:20px 0 0 50px}.div .top span[data-v-76340c0a]{padding-left:15px}.div .bottom[data-v-76340c0a]{width:100%;padding-top:100px}.div .bottom .account[data-v-76340c0a]{width:1328px;height:627px;border:1px solid #666;padding:10px 20px 0 50px;margin:0 auto;background:#fff;position:relative}.div .bottom .account .left[data-v-76340c0a]{width:60%;height:80%;float:left}.div .bottom .account .left .name[data-v-76340c0a]{line-height:30px;padding:10px 0 30px 35px;font-size:18px}.div .bottom .account .left form[data-v-76340c0a]{padding:5px 0 0 35px}.div .bottom .account .left form .group[data-v-76340c0a]{font-size:18px;line-height:50px}.div .bottom .account .left form .group span[data-v-76340c0a]{margin-right:10px}.div .bottom .account .left form .group input[data-v-76340c0a]{width:156px;height:25px}.div .bottom .account .left form .group textarea[data-v-76340c0a]{width:487px;height:170px}.div .bottom .account .right[data-v-76340c0a]{width:40%;height:80%;float:left}.div .bottom .account .right .picture[data-v-76340c0a]{width:300px;height:300px;margin:10px 0 0 100px}.div .bottom .account .right .picture img[data-v-76340c0a]{width:100%;height:100%;border-radius:50%;border:1px solid #ccc}.div .bottom .account .right .select[data-v-76340c0a]{padding:20px 0 0 200px;width:100%;height:50px}.div .bottom .account .btn[data-v-76340c0a]{height:15%;position:absolute;bottom:5px;right:50px}