/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.message[data-v-798e2c60]{color:#444}.message .title[data-v-798e2c60]{text-align:center;font-size:20px;padding:15px 0 30px}.message .showInfo[data-v-798e2c60]{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:20px}.message .showInfo a[data-v-798e2c60]{color:#0084ff}.message .content[data-v-798e2c60]{margin-bottom:20px}.detail[data-v-798e2c60]{display:-ms-flexbox;display:flex;padding-top:20px}.detail .left[data-v-798e2c60]{width:150px;text-align:center}.detail .left .img[data-v-798e2c60]{height:150px;width:150px;background:#e8e8e8;margin-bottom:10px}.detail .left img[data-v-798e2c60]{max-width:150px}.detail .right[data-v-798e2c60]{-ms-flex:1;flex:1;padding-right:20px}img.icon[data-v-798e2c60]{max-width:30px}.hidden[data-v-798e2c60]{display:none}