/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.container[data-v-1695f6fa]{padding:20px}.box[data-v-1695f6fa]{width:100%;padding:15px;line-height:30px;margin-bottom:15px;box-sizing:border-box;display:inline-block;background:#fff}span[data-v-1695f6fa]{display:inline-block;width:45%;margin-top:10px}.bottom[data-v-1695f6fa]{width:100%;background:#fff}.bottom #charts[data-v-1695f6fa]{margin:0 auto;height:300px;margin-top:15px}