/*!
 * {
 *   "buildtime": "2019-06-14 15:40:00",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "cc62e1956",
 *     "message": [
 *       "commit cc62e195633d44aadf65545d70d92ce1a5c1c701",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Fri Jun 14 15:39:28 2019 +0800",
 *       "    'xxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.container .head[data-v-6b0b202c]{border-bottom:1px solid #ddd;padding-bottom:20px}.container .head img[data-v-6b0b202c]{width:120px;height:160px;-o-object-fit:contain;object-fit:contain;box-shadow:0 0 5px 2px #ddd}.container .head .box[data-v-6b0b202c]{display:inline-block;padding-left:50px;box-sizing:border-box;width:calc(100% - 160px)}.container .head .box span[data-v-6b0b202c]{display:inline-block;width:30%;margin-top:40px}.container .tail .group[data-v-6b0b202c]{margin-top:20px;width:49%;display:inline-block;background:#f1f1f1;margin-right:2%}.container .tail .group[data-v-6b0b202c]:nth-of-type(2n){margin-right:0}.container .tail .group .draw[data-v-6b0b202c]{height:300px}