/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.tree-title{margin-top:5px;padding:3px 0;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:1;-ms-flex:1;flex:1}.tree>.p20{padding-left:20px}.comp-cbi__title{margin-bottom:10px}.comp-cbi__title:before{top:0}.comp-kic{padding-left:16px;margin-bottom:10px}.ls-detail .ui-title{position:relative;padding-left:12px;line-height:20px;color:#676a7b}.ls-detail .ui-title:before{position:absolute;content:"";display:inline-block;left:0;top:5px;height:20px;width:4px;border-radius:2px;background:-webkit-gradient(linear,left top,right top,from(#f6d27e),to(#b1936a));background:linear-gradient(90deg,#f6d27e,#b1936a)}.ls-detail .alter-words,.ls-detail .key-body{margin-top:20px}.ls-detail .alter-words__title,.ls-detail .key-body__title{margin-bottom:20px;color:#373944;font-weight:700}.ls-detail .alter-words>.tree,.ls-detail .key-body>.tree{color:#373944}.ls-detail .alter-words>.tree>.tree-title>.tree-body>.tree>.tree-title,.ls-detail .key-body>.tree>.tree-title>.tree-body>.tree>.tree-title{color:#676a7b}.ls-detail .alter-words__title{width:131px;height:28px;margin-left:-15px;padding-left:15px;line-height:28px;color:#fff;border-top-right-radius:999px;border-bottom-right-radius:999px;background:-webkit-gradient(linear,left top,right top,from(#d4d8ed),to(#a6aac1));background:linear-gradient(90deg,#d4d8ed,#a6aac1)}.ls-detail .search-exact-btn{background:#fff;position:fixed;bottom:0;left:0;right:0;height:50px;line-height:50px}.ls-detail .search-exact-btn>.cbtn{font-size:.3rem}