/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.com-nav{height:45px;line-height:45px}.com-nav .nav-item{padding:0 15px}.com-nav.len .nav-item__active p:after{width:30px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.item-note{padding:14px 12px 0}.item-note>.flex{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.item-note>.flex>.note-body>.note-title{margin-bottom:10px}.item-note>.flex>.note-body>.note-title span{color:#b1936a;margin-right:10px}.item-note>.flex>.note-body .note-content,.item-note>.flex>.note-body .note-time{color:#a6aac1;margin-bottom:7px}.item-note>.flex>.note-body>.note-time{color:#999;margin-top:0;margin-bottom:2px}.item-note>.line{margin-left:-12px;margin-right:-12px}.page-note .bg-user>.tr:first-of-type{padding-top:20px}.page-note .bg-user>.tr:nth-of-type(2){padding-top:5px}.page-note .bg-user>.tr button{background-color:transparent}