/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-find-item.tl>.wrapper>.left>.name{margin-bottom:11px!important}.comp-find-item.tl>.wrapper>.left>.other>.author>span{color:#676a7b;opacity:.8}.comp-find-item.tl>.wrapper>.left>.other>.ds,.ds{display:block}.comp-find-item.tl>.wrapper{background:#fff;-webkit-box-shadow:0 2px 6px 2px rgba(132,136,153,.1);box-shadow:0 2px 6px 2px rgba(132,136,153,.1);display:-webkit-box;display:-ms-flexbox;display:flex;padding:15px}.comp-find-item.tl>.wrapper>.left{display:inline-block;width:5rem}.comp-find-item.tl>.wrapper>.left>.name{margin-bottom:35px}.comp-find-item.tl>.wrapper>.left>.other>.author{margin-right:30px}.comp-find-item.tl>.wrapper>.right{width:2rem;-webkit-box-flex:1;-ms-flex:1 1 none;flex:1 1 none}.comp-find-item.tl>.wrapper>.right>img{width:96px;height:96px;border-radius:4px}#find-swiper>.swiper-wrapper{padding-bottom:100px;padding-top:0}#find-swiper>.swiper-wrapper>.swiper-slide>.main>.content>.children{margin-top:20px}.page-find>.wrapper{margin-bottom:70px}.page-find>.wrapper>.main>.btn>.btn-column{position:absolute;right:15px;top:10px;z-index:20}