/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.com-nav{height:45px;line-height:45px}.com-nav .nav-item{padding:0 15px}.com-nav.len .nav-item__active p:after{width:30px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.comp-record{padding:0 15px;margin-bottom:15px}.comp-record p{margin:0;padding:0}.comp-record>.record-wrap{padding:11px 16px 17px 17px;position:relative;-webkit-box-shadow:0 3px 5px rgba(0,0,0,.1),0 -1px 5px rgba(0,0,0,.1);box-shadow:0 3px 5px rgba(0,0,0,.1),0 -1px 5px rgba(0,0,0,.1)}.comp-record>.record-wrap:before{left:-5px;width:10px;border-radius:5px;background:-webkit-gradient(linear,left top,right top,from(#f6d27e),to(#b1936a));background:linear-gradient(90deg,#f6d27e,#b1936a)}.comp-record>.record-wrap:after,.comp-record>.record-wrap:before{content:"";position:absolute;top:0;display:inline-block;height:100%;z-index:1}.comp-record>.record-wrap:after{left:0;width:5px;background-color:#fff}.comp-record>.record-wrap>.record-head{padding-bottom:10px;border-bottom:2px solid #f0f2fe}.comp-record>.record-wrap>.record-head p{line-height:2}.comp-record>.record-wrap>.record-head p:first-child{font-weight:700;-webkit-box-flex:1;-ms-flex:1;flex:1}.comp-record>.record-wrap>.record-body{margin-top:15px}.comp-record>.record-wrap>.record-body>.price{color:#676a7b}.comp-record>.record-wrap>.record-body>.price span{color:#f15a4a}.page-note .bg-user>.tr:first-of-type{padding-top:20px}.page-note .bg-user>.tr:nth-of-type(2){padding-top:5px}.page-note .bg-user>.tr button{background-color:transparent}.page-note .comp-record:first-child{margin-top:15px}