/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-meta-data{display:inline-block}.page-column-detail>.wrapper{padding:15px;-webkit-box-sizing:border-box;box-sizing:border-box}.page-column-detail>.wrapper>.des{line-height:30px;position:relative;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:15px}.page-column-detail>.wrapper>.des>.name span{margin-right:5px}.page-column-detail>.wrapper>.des>.abs{line-height:24px;margin:5px 0}.page-column-detail>.wrapper>.des>.meta{line-height:18px;color:#a6aac1}.page-column-detail>.wrapper>.des>.add{-webkit-transform:translateY(0);transform:translateY(0);position:relative;float:right}.page-column-detail>.wrapper>.limit{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:inherit}.page-column-detail>.wrapper>.limit>p{font-size:12px;color:#a6aac1;text-indent:10px}.page-column-detail>.wrapper>.page-item{padding:4px 0}.page-column-detail>.wrapper>.page-item:not(:last-child){border-bottom:1px solid #eee}.page-column-detail>.wrapper>.page-item img{max-width:100%}.page-column-detail>.wrapper>.page-item>.ls-btn>.box{max-height:68px;margin-top:6px;overflow:hidden}.page-column-detail>.wrapper>.page-item>.text>.name{line-height:53px}.page-column-detail>.wrapper>.page-item>.text>.val{line-height:20px}.page-column-detail>.wrapper>.page-item>.read{margin-top:30px}.page-column-detail>.wrapper>.page-item>.read>.text{font-size:14px}.page-column-detail>.wrapper>.page-item>.read>.text p[type=chapter]{font-size:16px;font-weight:700}.page-column-detail>.wrapper>.page-item>.other{font-size:16px;color:#666;padding-left:15px}.page-column-detail>.wrapper>.page-item>.tc>.PayDown{margin-top:10px}.sycj>p{font-size:12px;color:#a6aac1;text-indent:10px}