/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-my-test>.wrapper{overflow-x:scroll;line-height:45px;display:-webkit-box}.comp-my-test>.wrapper>.item{padding:0 15px;border:1px solid red}.comp-search-exact>.wrapper{padding:15px}.comp-search-exact>.wrapper>.main{padding:15px;background:#fff;-webkit-box-shadow:0 2px 6px 2px rgba(132,136,153,.1);box-shadow:0 2px 6px 2px rgba(132,136,153,.1);border-radius:4px;margin-bottom:50px}.comp-search-exact>.wrapper>.main>.ls>.bbtn{border-top-left-radius:0;border-bottom-left-radius:0;margin:15px 0;-webkit-transform:translateX(-15px);transform:translateX(-15px)}.comp-search-exact>.wrapper>.search-exact-btn{background:#fff;position:fixed;bottom:0;left:0;right:0;height:50px;line-height:50px}.comp-search-exact>.wrapper>.search-exact-btn>.cbtn{font-size:.3rem}