/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-search-title{position:relative}.comp-search-title>.content{display:-webkit-box;display:-ms-flexbox;display:flex;padding-top:12px;padding-bottom:12px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.comp-search-title>.content.before_vt:before{left:-12px}.comp-search-title>.content>.right>.rt90,.comp-search-title>.content>.right>.rt180{-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}