/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.isSimple{position:absolute;left:0;right:0;bottom:1rem}.inp-group,.inp-group>.new-inp{margin-bottom:20px}.simpleBtn{position:absolute;left:0;right:0;bottom:1rem}.comp-search-advanced>.wrapper{padding:15px}.comp-search-advanced>.wrapper>.main{padding:15px;background:#fff;-webkit-box-shadow:0 2px 6px 2px rgba(132,136,153,.1);box-shadow:0 2px 6px 2px rgba(132,136,153,.1);border-radius:4px}.comp-search-advanced>.wrapper>.main>.check{line-height:50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around}.comp-search-advanced>.wrapper>.main>.check>.ib>.txt{margin-left:20px}.comp-search-advanced>.wrapper>.main>.add_btn{padding-bottom:20px}.comp-search-advanced>.wrapper>.main>.inp-other{margin-top:20px}.comp-search-advanced>.wrapper>.go-detail{margin:30px 0}.comp-search-advanced>.wrapper>.go-detail>.cbtn{font-size:.3rem}