/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-home>.search-tip{padding:15px;position:fixed;left:0;right:0;top:45px;z-index:125;bottom:0;overflow-y:auto}.page-home>.search-tip>div>.ls{margin-top:20px}.page-home>.search-tip>.history{margin-bottom:20px}.page-home>.search-tip>.history>.ls>.p{height:35px;line-height:35px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-left:15px}.page-home>.search-tip>.history>.ls>.p>div{height:100%}.page-home>.search-tip>.history>.ls>.p>.val{width:4.3rem}.page-home>.search-tip>.history>.ls>.p>.icon-close{width:20px;text-align:right}