/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-search-normal{min-height:100%;background:#fbfbfb}.page-search-normal>.wrapper .pageResult{top:43px;left:0;color:#755a46;padding:15px;position:absolute;width:100%;z-index:1}.page-search-normal>.wrapper>.result{margin-bottom:40px}.page-search-normal>.wrapper>.result>.col{top:44px;position:fixed;background:#fff;z-index:10;height:110px}.page-search-normal>.wrapper>.result>.col>.ls-second,.page-search-normal>.wrapper>.result>.col>.ls-top{width:7.5rem}