/*!
 * {
 *   "buildtime": "2019-07-17 10:58:50",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "a51842995",
 *     "message": [
 *       "commit a51842995ac312d7b576d646ab99c7a4f3f34d0b",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Wed Jul 17 10:58:23 2019 +0800",
 *       "    xxx"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-taoxi>.taoxi-info-bg.fixed{position:fixed;top:0;width:100%;background-color:rgba(0,0,0,.4);overflow-y:auto}.page-taoxi>.taoxi-info-bg>.page-taoxi__info{padding:0 15px}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__title button{width:70px;height:30px;line-height:30px;color:#fff;background-color:#f15a4a;border-radius:15px;border:none;outline:none}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__intro{margin-top:10px;margin-bottom:15px;font-size:12px;opacity:.9}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__author{padding-bottom:5px;padding-top:15px;border-top:1px solid #f4f4f4}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__author .page-taoxi__pic .anther{margin-left:15px}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__author .page-taoxi__pic img{width:72px;height:72px;margin-top:6%;margin-bottom:5%;border-radius:50%;-o-object-fit:cover;object-fit:cover}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__publish{padding-top:15px;font-size:12px;color:hsla(0,0%,100%,.6)}.page-taoxi>.taoxi-info-bg>.page-taoxi__info>.page-taoxi__publish>p{line-height:20px}.page-taoxi>.page-taoxi__wrap,.page-taoxi>.page-taoxi__wrap>.page-taoxi__menu{-webkit-box-sizing:border-box;box-sizing:border-box}.page-taoxi>.page-taoxi__wrap>.page-taoxi__menu{overflow:auto;height:100%;padding:15px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.page-taoxi>.page-taoxi__wrap>.page-taoxi__menu>.sub-item:nth-of-type(odd){margin-right:15px}.taoxiname{margin-left:5%;float:left;margin-top:3%;font-weight:700}.img_title{margin:4% 0}.img_title>img{max-width:60%;float:left}.clear{clear:both}.addcircle{margin-top:10%;float:right}