<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>预览</title>
<script src="config_js"></script>
<script src="/cdn/reader3/3.1.x/reader3.js"></script>
<link rel="stylesheet" href="/cdn/reader3/3.1.x/reader3.css">
<link rel="stylesheet" href="/cdn/reader3/3.1.x/theme/mobile/style.css">
<link rel="stylesheet" href="/cdn/reader3/3.1.x/theme/desktop/style.css">
<link rel="stylesheet" href="<%= publicPath %>static/style.css">
</head>
<body style="display: none;">
    <div id="app">
        <div class="video-wrap" v-if="type == '5' || type == '6' || type == '8' ">
            <div class="content">
                <video controls="true" controlslist="nodownload" preload="auto" autoplay="true" id="video" :src="entity.preview"></video>
            </div>
        </div>
        <div class="audio-wrap" v-if="type == '4'">
            <div class="content">
                <audio controls="true" controlslist="nodownload" :src="entity.preview"></audio>
                <!-- <audio id="audio" src="http://xcloud.kf.gli.cn/storage/publish/videos/2018/05/24145651_5b06623313985.mp3"></audio> -->
            </div>
        </div>
        <div class="article-wrap" v-if="type == '2' ">
            <div class="article-title">
                <h1>{{entity.name}}</h1>
                <div>作者: {{ entity.author}}</div>
                <div class="time">{{ entity.create_time}}</div>
            </div>
            <div v-html="entity.preview"></div>
        </div>
        <div class="picture-wrap" v-if="type == '3'">
            <img :src="entity.preview_path" alt="">
        </div>
    </div>
    <div id="reader"> </div>
</body>

</html>
