.group
  .label 类型:
  span.types
    span.shallow-color( v-text="mediaTypeName || '视频' ")
    //- span  序号:
    //-   span.shallow-color {{detailDataOwn.id}}
    span  创建时间:
      span.shallow-color {{detailDataOwn.create_time}}
