Icon( title="详情" size="mini"  @click="opneDetailDialog('xq' , item)" type=".icon-detail"  plain  )
Icon(size="mini" title="链接"  @click="opneImgLinkDialog(item)" type="icon-link"  plain   )
Icon(size="mini"  title="扩展属性" @click="opneDetailDialog('data',  item)" type="icon-data"  plain  )
Icon(size="mini" title="删除" @click="delChoosen(item.id)"  type="icon-delete"  plain  )
