/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.settingsNavTab[data-v-10bb6774]{color:#333}.settingsNavTab ul[data-v-10bb6774]{background:#f2f2f2;line-height:50px;overflow:hidden;text-align:center;font-size:13px;min-width:660px;font-family:\\5FAE\8F6F\96C5\9ED1}.settingsNavTab ul li[data-v-10bb6774]{float:left;width:218px;margin-right:2px;transition:.3s}.settingsNavTab ul li.active[data-v-10bb6774]{background:#d7d7d7}.settingsNavTab ul li[data-v-10bb6774]:hover{background:#d7d7d7;cursor:pointer}.decoration[data-v-7a3c877c]{text-decoration:none}.content[data-v-7a3c877c]{padding-left:16px}.content .info[data-v-7a3c877c]{color:#999;font-size:12px;padding:20px 0}.content .info span[data-v-7a3c877c]{vertical-align:sub;padding-left:5px}.content .list .item[data-v-7a3c877c]{margin-bottom:10px}.content .list .item .txtInput[data-v-7a3c877c]{width:200px}.content .list .item .icon[data-v-7a3c877c]{margin:7px 0 0 10px}.content .list .item .iconc[data-v-7a3c877c]{width:30px;margin:10px 20px 0 60px}.content .list .item .up[data-v-7a3c877c]{transform:rotate(90deg)}.content .list .item .down[data-v-7a3c877c]{transform:rotate(-90deg)}.content .list .item .txt[data-v-7a3c877c]{font-size:14px;line-height:44px;padding:0 24px}.content .list .item .txt .color1[data-v-7a3c877c]{color:#287f77;padding-left:10px}.content .list .disable[data-v-7a3c877c]{color:#999;opacity:.6}.content .list .disable a[data-v-7a3c877c]{color:#999}.imgSize[data-v-7a3c877c]{margin-bottom:20px}.imgSize padding 20px 0[data-v-7a3c877c]{color:#333}.imgSize padding 20px 0 .bannerSize[data-v-7a3c877c]{display:inline-block;font-size:14px}