/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.settingsNavTab[data-v-3e65aec9]{color:#333;min-width:1200px}.settingsNavTab ul[data-v-3e65aec9]{background:#f2f2f2;line-height:50px;overflow:hidden;text-align:center;font-size:13px;min-width:660px;font-family:\\5FAE\8F6F\96C5\9ED1}.settingsNavTab ul li[data-v-3e65aec9]{float:left;width:218px;height:50px;margin-right:2px;transition:.3s;cursor:pointer}.settingsNavTab ul li.active[data-v-3e65aec9],.settingsNavTab ul li[data-v-3e65aec9]:hover{background:#d7d7d7}.content[data-v-2a3ac5bd]{padding-left:16px;min-width:1000px}.content .info[data-v-2a3ac5bd]{color:#999;font-size:12px;padding:20px 0}.content .info span[data-v-2a3ac5bd]{vertical-align:sub;padding-left:5px}.content .list[data-v-2a3ac5bd]{padding-bottom:10px;height:145px}.content .list .leftSide[data-v-2a3ac5bd],.content .list .rightSide[data-v-2a3ac5bd]{float:left}.content .list .thumb[data-v-2a3ac5bd]{width:284px;max-height:140px}.content .list .operation[data-v-2a3ac5bd]{padding:50px 0 0 17px;line-height:40px}.content .list .operation .icon[data-v-2a3ac5bd]{transform:rotate(-90deg);margin:7px 0 0 10px}.content .list .operation .up[data-v-2a3ac5bd]{transform:rotate(90deg)}.content .list .operation .icon[data-v-2a3ac5bd]:hover{cursor:pointer}.content .list .operation .form-item[data-v-2a3ac5bd]{display:inline-block;margin-left:20px}.content .add .info[data-v-2a3ac5bd]{line-height:60px}.imgSize .bannerSize[data-v-2a3ac5bd]{display:inline-block}font-size 14px[data-v-2a3ac5bd]{color:#333}