/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.settingsNavTab[data-v-10bb6774]{color:#333}.settingsNavTab ul[data-v-10bb6774]{background:#f2f2f2;line-height:50px;overflow:hidden;text-align:center;font-size:13px;min-width:660px;font-family:\\5FAE\8F6F\96C5\9ED1}.settingsNavTab ul li[data-v-10bb6774]{float:left;width:218px;margin-right:2px;transition:.3s}.settingsNavTab ul li.active[data-v-10bb6774]{background:#d7d7d7}.settingsNavTab ul li[data-v-10bb6774]:hover{background:#d7d7d7;cursor:pointer}input[type=text][data-v-60a79030]{width:40px;text-align:center}input[type=checkbox][data-v-60a79030]{position:relative}.bookCover[data-v-60a79030]{cursor:pointer;max-width:100px;max-height:70px;min-width:50px;min-height:50px;box-shadow:0 0 2px 1px #b7b7b7;margin:10px}.content[data-v-60a79030]{padding-left:16px}.content .info[data-v-60a79030]{color:#999;font-size:12px;padding:20px 0}.content .info span[data-v-60a79030]{vertical-align:sub;padding-left:5px}.content .sort_top[data-v-60a79030]{line-height:30px;border-bottom:.5px solid #999;font-size:12px;text-align:center;padding-bottom:10px}.content .sort_top .selectAll[data-v-60a79030]{line-height:30px;float:left}.content .sort_top .selectAll input[type=checkbox][data-v-60a79030]{top:2px}.content .sort_top .del[data-v-60a79030]{color:#f56c6c}.content .box[data-v-60a79030]{font-size:12px;color:#333;overflow:hidden;padding:10px 0}.content .box dl.head[data-v-60a79030]{line-height:40px}.content .box dl[data-v-60a79030]{overflow:hidden;border-bottom:1px solid #999}.content .box dl dd[data-v-60a79030]{float:left;width:25%}.content .box dl .first[data-v-60a79030]{padding:20px 0;line-height:20px}.content .box dl .first .solwDown[data-v-60a79030]{cursor:pointer;display:inline-block;width:20px;height:20px;font-size:20px;margin-left:10px;transition:all .5s}.content .box dl .first .solwDown.active[data-v-60a79030]{transform:rotate(180deg)}.content .box dl .first .second[data-v-60a79030]{padding:10px 0 10px 20px}.content .box dl .first .second p[data-v-60a79030]{padding:10px 0}.content .add[data-v-60a79030]{padding:20px 0}.imgSize[data-v-60a79030]{margin-bottom:5px}.imgSize .bannerSize[data-v-60a79030]{font-size:12px;color:#333}