/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.el-icon-close[data-v-30b808ce]{position:absolute;cursor:pointer;float:right;display:block;width:20px;height:20px;right:20px;z-index:2}.settingsNavTab[data-v-0ca94202]{color:#333}ul[data-v-0ca94202]{background:#f2f2f2;line-height:50px;overflow:hidden;text-align:center;font-size:13px;min-width:660px;font-family:\\5FAE\8F6F\96C5\9ED1}ul li[data-v-0ca94202]{float:left;width:218px;margin-right:2px;transition:.3s}ul li.active[data-v-0ca94202]{background:#d7d7d7}ul li[data-v-0ca94202]:hover{background:#d7d7d7;cursor:pointer}