/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.lside[data-v-8bebb83a],.rside[data-v-8bebb83a]{line-height:40px}.box[data-v-8bebb83a]{background:#ececec;padding:0 15px;min-height:650px;min-width:1660px}.box .top[data-v-8bebb83a]{padding:15px;background:#fff;margin-bottom:20px}.box .top .group-inline[data-v-8bebb83a]{margin:0 4px}.box .top .form-control[data-v-8bebb83a]{width:100%;height:40px}.box .list[data-v-8bebb83a]{border:15px solid #fff;background:#fff;width:100%;line-height:30px;margin-bottom:50px;font-size:14px}.box .list thead[data-v-8bebb83a],.box .list thead tr[data-v-8bebb83a]{background:#ececec}.box .list thead tr td[data-v-8bebb83a]{padding:10px;text-align:center}.box .list tbody tr[data-v-8bebb83a]{transition:.1s}.box .list tbody tr[data-v-8bebb83a]:nth-child(2n){background:#eee}.box .list tbody tr td[data-v-8bebb83a]{line-height:25px;text-align:center;padding:10px;vertical-align:middle}.box .page[data-v-8bebb83a]{text-align:center;padding-bottom:50px}.dialog .part[data-v-8bebb83a]{border-bottom:1px dashed #e8e8e8;overflow:hidden;padding:10px 0}.dialog .part .lside[data-v-8bebb83a]{float:left;padding:0 50px 0 30px}.dialog .part .rside[data-v-8bebb83a]{float:left}