/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.box[data-v-6166b6ca]{background:#ececec;padding:0 15px;min-height:650px;min-width:860px}.box .top[data-v-6166b6ca]{margin-bottom:20px}.box .top .group-inline .form-control[data-v-6166b6ca]{width:100%;height:40px}.box .list[data-v-6166b6ca]{border:15px solid #fff;background:#fff;width:100%;line-height:50px;margin-bottom:50px}.box .list thead[data-v-6166b6ca],.box .list thead tr[data-v-6166b6ca]{background:#ececec}.box .list thead tr td[data-v-6166b6ca]{padding:10px}.box .list tbody tr[data-v-6166b6ca]{transition:.1s}.box .list tbody tr[data-v-6166b6ca]:nth-child(2n){background:#eee}.box .list tbody tr td[data-v-6166b6ca]{padding:10px;text-align:center}.box .page[data-v-6166b6ca]{text-align:center;padding-bottom:50px}.userInfo dd[data-v-6166b6ca]{float:left;width:25%;line-height:95px}.userInfo dd .small[data-v-6166b6ca]{display:inline-block;transform:scale(.95);color:#999;font-size:12px}.userInfo dd .photo[data-v-6166b6ca]{width:85px;height:85px;border-radius:95px;margin-left:10px}.title[data-v-6166b6ca]{border-bottom:1px solid #999;margin-bottom:20px}.imgList[data-v-6166b6ca]{margin-bottom:20px}.imgList border-bottom 1px solid #999 img[data-v-6166b6ca]{margin:0 15px}