/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.el-dropdown-link[data-v-5d3b1c52]{cursor:pointer;color:#009882}.el-dropdown-menu__item[data-v-5d3b1c52]:focus,.el-dropdown-menu__item[data-v-5d3b1c52]:not(.is-disabled):hover{color:#009882}.el-dropdown-menu__item[data-v-5d3b1c52]{min-width:120px;text-align:center}.el-icon-arrow-down[data-v-5d3b1c52]{font-size:12px}li[data-v-5d3b1c52],ul[data-v-5d3b1c52]{margin:0;padding:0}.passContent .group[data-v-5d3b1c52]{margin-bottom:20px;line-height:35px}.passContent .group .label[data-v-5d3b1c52]{width:120px;padding-right:20px;display:inline-block;text-align:right}.passContent .group .des[data-v-5d3b1c52]{text-align:right;display:inline-block;width:50px;margin-right:20px}.passContent .group input[data-v-5d3b1c52]{width:200px}.passContent .group .codeimg[data-v-5d3b1c52]{vertical-align:middle}.header[data-v-5d3b1c52]{background:#373d41;line-height:50px;color:#fff;font-size:16px;min-width:1000px;text-align:center;height:50px}.header .left[data-v-5d3b1c52]{height:50px;width:250px;text-align:center;float:left;cursor:pointer}.header .content[data-v-5d3b1c52]{display:inline-block;height:50px;background:#373d41;text-align:center}.header .right[data-v-5d3b1c52]{float:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.header .right .user[data-v-5d3b1c52]{color:#009882}.header .right>span[data-v-5d3b1c52]{padding:0 13px;display:inline-block;height:50px;cursor:pointer;font-size:14px}.header .right>span[data-v-5d3b1c52]:hover{background:#202020}.otherTop[data-v-5d3b1c52]{height:70px;background:#434b5a;z-index:111;white-space:nowrap}.otherTop li[data-v-5d3b1c52]{cursor:pointer;display:inline-block;width:116px;height:70px;text-align:center;position:relative;color:#8c96a5}.otherTop li .content[data-v-5d3b1c52]{width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}.otherTop li .content .name[data-v-5d3b1c52]{font-size:14px;margin-top:5px}.otherTop li.active[data-v-5d3b1c52]{background:#3a4251;color:#44c3aa}.alltop[data-v-5d3b1c52]{position:fixed;top:0;width:100%;height:120px;z-index:1111;transform:translateY(-70px);transition:transform .5s ease-in-out}.alltop.showMoreTop[data-v-5d3b1c52]{transition:transform .5s ease-in-out;transform:translateY(0)}