/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.message[data-v-009c1a9f]{color:#444}.message .title[data-v-009c1a9f]{text-align:center;font-size:20px;padding:15px 0 30px}.message .showInfo[data-v-009c1a9f]{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:20px}.message .showInfo a[data-v-009c1a9f]{color:#0084ff}.message .content[data-v-009c1a9f]{margin-bottom:20px}.detail .group[data-v-009c1a9f]{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;line-height:30px}.detail .group .item[data-v-009c1a9f]{margin:20px 10px}.detail .group .item .sex[data-v-009c1a9f]{margin-top:8px}.detail .group .item .name[data-v-009c1a9f]{display:inline-block;line-height:30px}.detail .group .num[data-v-009c1a9f]{width:50px}.detail .top[data-v-009c1a9f]{display:-ms-flexbox;display:flex}.detail .top .tx img[data-v-009c1a9f]{max-width:130px;max-height:130px}.infoMsg[data-v-009c1a9f]{font-size:13px;color:#999;margin-left:10px}.width[data-v-009c1a9f]{width:150px;margin-right:10px}