/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.content[data-v-7b669a90]{background:#fff;padding:20px;box-sizing:border-box;min-width:1500px}.content .titleWrap[data-v-7b669a90]{height:46px}.content .titleWrap .title[data-v-7b669a90]{line-height:46px;position:relative;border-bottom:1px solid #ccc}.content .titleWrap .vel-line[data-v-7b669a90]:before{content:" ";position:absolute;width:4px;height:20px;z-index:10;top:13px;left:-10px;background:#39baa1}.content .tableWrap[data-v-7b669a90]{margin-top:20px}.content .tableWrap .left[data-v-7b669a90]{width:460px;display:inline-block;margin-right:20px}.content .tableWrap .left .group[data-v-7b669a90]{line-height:40px;margin-bottom:20px}.content .tableWrap .left .group button[data-v-7b669a90]{margin-left:20px}.content .tableWrap .left .group img[data-v-7b669a90]{max-width:250px;max-height:200px}.content .tableWrap .left .group label[data-v-7b669a90]{display:inline-block;padding-right:20px;min-width:100px;text-align:right}.content .tableWrap .right[data-v-7b669a90]{width:calc(100% - 490px);display:inline-block}.content .tableWrap .right .list[data-v-7b669a90]{height:150px;line-height:150px}.content .tableWrap .right .list>[data-v-7b669a90]{margin-right:20px}.content .tableWrap .right .list img[data-v-7b669a90]{max-height:110px;max-width:200px;vertical-align:middle}