/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-detail-card{padding:30px}.comp-detail-card>.img{display:inline-block;width:420px;height:237px;overflow:hidden}.comp-detail-card>.img>img{height:100%}.comp-detail-card>.other{padding-left:30px;width:520px}.comp-detail-card>.other>div{margin-bottom:17px}.comp-detail-card>.other>.btns>.gp{display:inline-block}.comp-detail-card>.other>.btns>.gp>div:first-child{margin-right:15px}.comp-detail-card>.other>.btns>.gp>div:nth-child(2){margin-right:50px}.comp-detail-card>.share{bottom:10px;right:10px}.page-course-base>.tabs{padding-bottom:70px;padding-top:20px}.page-course-base>.tabs>.conatiner>.nav>.ls{border-bottom:1px solid #e0e0e0;box-sizing:border-box;height:57px}.page-course-base>.tabs>.conatiner>.nav>.ls>.item{text-align:center;line-height:55px;margin:0 25px;padding:0 5px;cursor:pointer;box-sizing:border-box}.page-course-base>.tabs>.conatiner>.router{min-height:300px}