/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-integral-list{padding:0;margin:0}.comp-integral-list>.item{width:250px;margin:0 46px 30px 0;text-align:center;font-size:0;cursor:pointer}.comp-integral-list>.item:nth-of-type(4n){margin-right:0}.comp-integral-list>.item>.img,.comp-integral-list>.item img{width:100%;height:190px}.comp-integral-list>.item>.name{margin:15px 0}.comp-integral-list>.item>.icon-integration{padding-left:20px;background-position:0}.page-user-integral{padding:30px}.page-user-integral>.integral{margin-bottom:20px}