/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.c_teachermsg{color:#6a7064}.c_account{color:#f2a20d}.comp-topic .abc{color:#666;margin-right:10px}.comp-topic textarea{width:80%;height:100px;background-color:#f7f7f7;border:1px solid #ebebeb}.comp-topic>.wrap{margin-bottom:50px}.comp-topic>.wrap>.name{margin:20px 0}.comp-topic>.wrap>.name>span{margin-right:15px}.comp-topic>.wrap>.topic-answer .item{margin:10px}.comp-topic>.wrap>.topic-answer .item.item-flex{display:-ms-flexbox;display:flex}.comp-topic>.wrap>.topic-answer .upload{margin-left:50px;height:100px;width:100px;border:1px solid #f7f7f7;box-shadow:0 0 0 1px #ebebeb}.comp-topic>.wrap>.topic-answer .upload input{display:none}.comp-topic>.wrap>.topic-answer .upload label{display:block;cursor:pointer;text-align:center}.comp-topic>.wrap>.topic-answer .upload label p{margin-top:10px;margin-bottom:0}.comp-topic>.wrap>.topic-answer .upload label span{display:inline-block}.comp-topic>.wrap>.topic-answer .upload img,.comp-topic>.wrap>.topic-answer .upload label{width:100%;height:100%}.comp-topic>.wrap>.real{border-top:1px dashed #eee}.comp-topic>.wrap>.real>div{margin:10px 0}.page-course-exam>.wrap{padding:30px}.page-course-exam>.wrap>.head{padding-bottom:30px}.page-course-exam>.wrap>.content{padding:30px;border:1px solid #e5e5e5}.page-course-exam>.wrap>.content .name{padding-bottom:30px}.page-course-exam>.wrap>.content .res .abstract>span{margin-right:130px}.page-course-exam>.wrap>.content .res .abstract>span:last-child{margin-right:0}.page-course-exam>.wrap>.content .res .txt{padding:20px 0;position:relative}.page-course-exam>.wrap>.content .res .txt:after{content:" ";position:absolute;background:#e0e0e0;height:1px;left:-30px;right:-30px;bottom:0}