/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-answer-item>.wrap{position:relative}.comp-answer-item>.wrap>.type{position:absolute;width:24px;height:24px;border-radius:4px;text-align:center;line-height:24px}.comp-answer-item>.wrap>.content{padding-left:40px}.comp-answer-item>.wrap>.content>.name{padding:0}.comp-answer-item>.wrap>.content>.val{line-height:20px;margin:20px 0}.page-course-answer>.fix{padding:30px}.page-course-answer>.ls{padding:0 30px 30px}.page-course-answer>.ls>.item{border:1px solid #e0e0e0;margin-bottom:30px}.page-course-answer>.ls>.item>div{padding:10px}.page-course-answer>.ls>.item>.answer{border-top:1px solid #e0e0e0}.page-course-answer>.ls>.item>.answer>.citem{margin-bottom:50px}.page-course-answer>.ls>.item>.answer>.citem:last-child{margin-bottom:0}