/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-user-teacher-card>.wrap>.img{width:230px;height:230px;text-align:center;line-height:230px;border-radius:50%}.comp-user-teacher-card>.wrap>.img>img{border-radius:50%;width:210px;height:210px}.comp-user-teacher-card>.wrap>.msg{padding-left:260px;padding-top:20px;line-height:30px}.comp-user-teacher-card>.wrap>.msg>.p>span:first-child{color:#666}.comp-user-teacher-card>.wrap>.msg>.p>span:last-child{color:#444}.page-course-step{padding-bottom:70px}.page-course-step>.teacher{margin:30px;padding-bottom:50px;border-bottom:1px solid #e9eef0}.page-course-step>.course>.name{padding:0 30px}