/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.comp-user-list-card>.left{line-height:1}.comp-user-list-card>.left img{width:200px;height:112px;-o-object-fit:contain;object-fit:contain}.comp-user-list-card>.center>.progress{width:500px}.comp-user-list-card>.center>.progress>div{display:inline-block;width:250px;margin-left:20px}.comp-user-list-card>.right>div{display:block;margin:0 auto}.comp-user-list-card>.right>div:last-child{margin-top:55px}.comp-user-list-card>div{line-height:35px}