/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-user-apply{min-height:200px;padding-top:20px;padding-bottom:65px}.page-user-apply .container>.top{text-align:center;padding-top:30px}.page-user-apply .container>.top>.img{position:relative;width:158px;margin:0 auto}.page-user-apply .container>.top>.img>button{margin-top:15px}.page-user-apply .container>.top>.img>img{width:158px;height:158px;border-radius:50%;cursor:pointer;-o-object-fit:cover;object-fit:cover}.page-user-apply .container>.box{width:500px;margin:40px auto;margin-bottom:0}.page-user-apply .container>.box>div.item{margin-bottom:25px;line-height:40px}.page-user-apply .container>.box>div.item .el-textarea{width:280px}.page-user-apply .container>.box>div.item .el-textarea textarea{background:#f8f8f8;height:160px;resize:none}.page-user-apply .container>.box>div.item:nth-of-type(4n){margin-bottom:0}.page-user-apply .container>.box>div.item>label{padding-left:20px;width:80px;text-align:right;margin-right:15px}.page-user-apply .container>.box>.btn{padding:38px 0}.page-user-apply .container>.box>.btn>.comp-btn{width:100px;height:32px;line-height:26px}.page-user-apply .container>.box>.btn>.comp-btn>.wrap .vm{font-size:14px}