/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-user-order>.dialog .el-dialog{border-radius:4px}.page-user-order>.dialog .el-dialog__header{border-bottom:1px solid #e6e6e6;font-size:18px;color:#4c4c4c}.page-user-order>.dialog .el-dialog__body{padding:40px 50px}.page-user-order>.dialog .el-dialog__body>.item>.img{width:225px;height:140px}.page-user-order>.dialog .el-dialog__body>.item>.img img{width:100%}.page-user-order>.dialog .el-dialog__body>.item>.detail{width:180px;margin-left:25px}.page-user-order>.dialog .el-dialog__body>.item>.detail .title{padding:15px 0}.page-user-order>.dialog .el-dialog__body>.item>.detail .c_price{color:#fb9f00}.page-user-order>.dialog .dialog-footer button{width:100px}.page-user-order>.wrap{padding:30px}.page-user-order>.wrap>.table .btns{min-width:100px}.page-user-order>.wrap>.table>thead{border:1px solid #ebeef5;height:50px}.page-user-order>.wrap>.table>thead tr{background:#fafafa}.page-user-order>.wrap>.table>thead tr .option{text-align:center}.page-user-order>.wrap>.table>thead tr th{height:50px;padding:0 15px;color:#4c4c4c;font-size:14px;font-weight:400}.page-user-order>.wrap>.table>tbody tr{cursor:pointer}.page-user-order>.wrap>.table>tbody .no-data td,.page-user-order>.wrap>.table>tbody td.option{text-align:center}.page-user-order>.wrap>.table>tbody td.option>div:last-child{margin-left:20px}.page-user-order>.wrap>.table>tbody td .name{max-width:150px}