/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-category>.cate-wrap>.line{line-height:50px;color:#2d4148;margin-bottom:1px}.page-category>.cate-wrap>.line>.cbox>.top-items>.item{display:inline-block;margin-right:30px;cursor:pointer;box-sizing:border-box}.page-category>.cate-wrap>.line.second{color:#999;border-top:1px solid #ebebeb}.page-category>.cate-wrap>.line.second>.cbox>.ls>.item{display:inline-block;margin-right:30px;cursor:pointer}.page-category>.container-wrap{background:#f5f5f5;padding-bottom:100px}.page-category>.container-wrap>.cbox>.main-wrap{background:#fff;position:relative;min-height:514px}.page-category>.container-wrap>.cbox>.main-wrap>.search-wrap{height:70px;line-height:70px;padding-left:33px}.page-category>.container-wrap>.cbox>.main-wrap>.rank-wrap{width:250px;background:#fff;position:absolute;z-index:10;top:0;right:-30px;transform:translateX(100%);transition:all .2s ease-in-out}