/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-course-discuss>.btns{margin:30px}.page-course-discuss>.wrap{margin:0 30px}.page-course-discuss>.wrap>.item{border-bottom:1px solid #eef3f5;padding:30px 0}.page-course-discuss>.wrap>.item>.main{padding:0 0 15px}.page-course-discuss>.wrap>.item>.child{margin-left:65px;padding:20px 15px}.page-course-discuss>.wrap>.item>.child>.item{padding-bottom:20px;margin-bottom:15px;border-bottom:1px solid #ccc}.page-course-discuss>.wrap>.item>.child>.item:last-child{margin-bottom:0}