/*!
 * {
 *   "buildtime": "2019-06-17 15:13:29",
 *   "workspace": "F:\\project\\x-book4\\js",
 *   "username": "Administrator",
 *   "hostname": "PC201608171616",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "ecb058dd8",
 *     "message": [
 *       "commit ecb058dd8be16255580b36968fc3831fa41d5989",
 *       "Author: YangZai <552396385@qq.com>",
 *       "Date:   Mon Jun 17 15:12:32 2019 +0800",
 *       "    'xxxxx'"
 *     ],
 *     "user": "YangZai",
 *     "email": "552396385@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.page-message-base{overflow:hidden;padding:30px}.page-message-base>.conatiner>div{display:inline-block;float:left}.page-message-base>.conatiner>.nav{width:calc(100% - 920px);padding:0 20px;box-sizing:border-box}.page-message-base>.conatiner>.nav .item{width:140px;height:42px;line-height:42px;text-align:center;margin-bottom:20px;border-radius:5px;cursor:pointer;position:relative;padding-left:20px;box-sizing:border-box}.page-message-base>.conatiner>.nav .item>.tip{top:50%;margin-top:-7px;right:5px}.page-message-base>.conatiner>.nav .item>span.icon{position:absolute;left:20px;top:50%;margin-top:-10px}.page-message-base>.conatiner>.nav .item.active{background-color:#c5f1ff;color:#309fc3}.page-message-base>.conatiner>.router{width:920px;min-height:300px}.page-message-base>.conatiner>.router>div>.no-data{background:#fdfdfd;text-align:center;height:300px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;color:#adadad;border:1px solid #efefef}.page-message-base>.conatiner>.router>.page-message-discuss{min-height:300px}.page-message-base>.conatiner>.router>.page-message-discuss>.item{border:1px solid #e0e0e0;padding:20px;margin-bottom:-1px}