/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.btns[data-v-6c42c4a2]{border-bottom:3px solid #e8e8e8;padding-bottom:10px}.box[data-v-6c42c4a2]{display:-ms-flexbox;display:flex}.box .part[data-v-6c42c4a2]{-ms-flex:1;flex:1;text-align:center;margin-bottom:20px}.box .part .img[data-v-6c42c4a2]{height:150px;background:#e8e8e8;margin:20px;text-align:center}.box .part .img img[data-v-6c42c4a2]{max-width:100%;height:100%}.pic[data-v-6c42c4a2]{height:100px;background:0 no-repeat;background-size:auto 100%}.name[data-v-6c42c4a2]{margin-bottom:10px}pre[data-v-6c42c4a2]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.btns[data-v-e6f94b42]{border-bottom:3px solid #e8e8e8;padding-bottom:10px}.box[data-v-e6f94b42]{display:-ms-flexbox;display:flex}.box .part[data-v-e6f94b42]{-ms-flex:1;flex:1;text-align:center;margin-bottom:20px}.box .part .file[data-v-e6f94b42]{line-height:250px}.box .part .img[data-v-e6f94b42]{height:250px;background:#e8e8e8;margin:20px;text-align:center}.box .part .img img[data-v-e6f94b42]{max-width:100%;height:100%}.pic[data-v-e6f94b42]{height:100px;background:0 no-repeat;background-size:auto 100%}.name[data-v-e6f94b42]{margin-bottom:10px}pre[data-v-e6f94b42]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.page[data-v-a4218c44]{text-align:center}