/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.login[data-v-0068d792]{height:100vh;background:linear-gradient(#195d9e,#41cca2);display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.login .box[data-v-0068d792]{height:305px;width:480px;color:#fff}.login .box .title[data-v-0068d792]{text-align:center;position:absolute;font-size:30px;margin-top:-50px;width:480px}.login .form[data-v-0068d792]{height:305px;background:hsla(0,0%,100%,.18);text-align:center;border-radius:8px;border:1px solid transparent}.login .form .label[data-v-0068d792]{padding:10px 0;margin:4px 0}.login .form button[data-v-0068d792]{height:40px;width:280px;outline:none;border:none;border-radius:40px;color:#549eaf;font-size:20px}.login .form .first[data-v-0068d792]{margin-top:60px}.login .form input[data-v-0068d792]{height:35px;color:#fff;width:280px;border-radius:35px;text-indent:15px;background:hsla(0,0%,100%,0);border:1px solid hsla(0,0%,100%,.3);outline:none;transition:.1s}.login .form input[data-v-0068d792]:hover{border-color:hsla(0,0%,100%,.5)}.login .form input[data-v-0068d792]:focus{border-color:#41cca2}input[data-v-0068d792]::-webkit-input-placeholder{color:#fff}input[data-v-0068d792]:-moz-placeholder,input[data-v-0068d792]::-moz-placeholder{color:#fff}input[data-v-0068d792]:-ms-input-placeholder{color:#fff}