/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.right[data-v-5310aeb0]{transform:translateX(-50%);margin-left:20%;width:400px;float:right;margin-top:-278px}.right>img[data-v-5310aeb0]{max-width:400px;margin-top:15px}.content input[data-v-5310aeb0]{width:250px}.authority .au-list[data-v-5310aeb0]{height:35px;line-height:35px;display:inline-block}.authority .au-list .item[data-v-5310aeb0]{display:inline-block;margin-right:25px}.authority .au-list .item .au-name[data-v-5310aeb0]{display:inline-block;margin-right:10px}.tname[data-v-5310aeb0]{font-size:16px;padding:15px 0;border-bottom:1px solid #e3e6ec}.sys[data-v-5310aeb0]{margin-top:20px}.bottom[data-v-5310aeb0]{margin:25px;padding-bottom:25px;text-align:center}.xlist .add-btn[data-v-5310aeb0]{margin-top:10px;margin-left:96px}.xlist .item[data-v-5310aeb0]{vertical-align:middle}.xlist .item .icon-delete[data-v-5310aeb0]{transform:translateY(25px)}.xlist .item .form-group[data-v-5310aeb0]{display:inline-block;margin-right:20px}.xlist .item .form-group label.url[data-v-5310aeb0]{width:60px}.xlist .item .form-group input[data-v-5310aeb0]{width:180px;margin-right:20px}.sys-list-name[data-v-5310aeb0]{margin-top:15px;display:inline-block}.tabs[data-v-3a68b751]{margin-top:20px}.selectAll[data-v-3a68b751]{line-height:30px}.item[data-v-3a68b751]{width:24.25%;float:left;text-indent:10px;line-height:50px;background:#eee;border-radius:5px;border:1px solid #e8e8e8;margin:3px}.el-input[data-v-0be24131]{max-width:150px;display:inline-block;margin-left:20px}.ell[data-v-0be24131]{line-height:25px}.ell a[data-v-0be24131]{color:#666;text-decoration:none}.ell a[data-v-0be24131]:hover{color:#44c3aa}