/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.content[data-v-86d57a30]{padding:15px;min-width:1600px}.content .titleWrap[data-v-86d57a30]{background:#fff;height:46px}.content .titleWrap .title[data-v-86d57a30]{margin:0 15px;line-height:46px;position:relative;border-bottom:1px solid #ccc}.content .titleWrap .vel-line[data-v-86d57a30]:before{content:" ";position:absolute;width:4px;height:20px;z-index:10;top:13px;left:10px;background:#39baa1}.content .titleWrap .titleText[data-v-86d57a30]{color:#333;margin-left:20px}.content .banner[data-v-86d57a30],.content .label[data-v-86d57a30],.content .logo[data-v-86d57a30],.content .title[data-v-86d57a30]{margin:15px 0}.content .title[data-v-86d57a30]{width:400px}.content .hidden[data-v-86d57a30]{display:none}.content img[data-v-86d57a30]{display:block;max-height:60px;margin:20px 0}.content .banner img[data-v-86d57a30]{max-height:150px}.box[data-v-86d57a30]{display:-ms-flexbox;display:flex;margin:15px 0}.box .part[data-v-86d57a30]{border:1px solid #ccc;padding:15px;border-radius:5px;margin-right:15px;background:#fff;height:700px;overflow-x:hidden;overflow-y:auto}.box .outline .group[data-v-86d57a30]{min-width:500px;display:-ms-flexbox;display:flex;margin-bottom:10px}.box .outline .group .link[data-v-86d57a30]{width:200px;margin-right:10px}.box .outline .add[data-v-86d57a30]{-ms-flex-pack:center;justify-content:center}.footer[data-v-86d57a30]{text-align:center}.info[data-v-86d57a30]{color:#aaa;font-size:12px;margin-bottom:12px}