/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-bc7c4e9e]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-bc7c4e9e],.header .header-right[data-v-bc7c4e9e]{width:.7rem}.header .header-center[data-v-bc7c4e9e]{-ms-flex:1;flex:1}.header span[data-v-bc7c4e9e]{display:inline-block}.header span.placeholder[data-v-bc7c4e9e]{width:.36rem}.dialog[data-v-254feac0]{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;background-color:rgba(0,0,0,.3)}.dialog .center-box[data-v-254feac0]{min-height:3rem;padding:.2rem;width:80%;background-color:#fff;box-shadow:0 0 3px #ccc;border-radius:5px}.dialog .center-box .dialog-title[data-v-254feac0]{padding-bottom:.2rem;color:#333;border-bottom:1px solid #f3eded}.dialog .center-box .dialog-content[data-v-254feac0]{max-height:5rem;overflow-x:auto}.dialog .center-box .dialog-info[data-v-254feac0]{margin-top:.2rem;font-size:14px;color:#444}.dialog .center-box .dialog-item[data-v-254feac0]{line-height:.6rem}.dialog .center-box .dialog-item p[data-v-254feac0]:last-child{color:#999;font-size:12px}.container[data-v-049b4a66]{background-color:transparent}.icon-play__blue[data-v-049b4a66]{margin-top:.1rem;margin-left:2px}.klp-intro[data-v-049b4a66]{margin-top:.4rem}.klp-title[data-v-049b4a66]{margin:.3rem 0;color:#222;font-size:15px}.klp-content[data-v-049b4a66]{margin-bottom:.2rem;color:#444;font-size:13px;line-height:.48rem}.plan-list .progress-txt[data-v-049b4a66]{color:#3496e1;font-size:12px;margin-left:.2rem}.plan-list .plan-item[data-v-049b4a66]{margin-bottom:.4rem;color:#444;font-size:14px}p.text-center[data-v-049b4a66]{padding-top:.4rem}button[data-v-049b4a66]{height:.44rem;line-height:.44rem;padding:0 .1rem;border:1px solid #3496e1;outline:none;color:#3496e1;background-color:#fff}button.btn-continue[data-v-049b4a66]{width:4.4rem;height:.6rem;line-height:.6rem;border:none;color:#fff;background-color:#3496e1}