/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-4fe4bede]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-4fe4bede],.header .header-right[data-v-4fe4bede]{width:.7rem}.header .header-center[data-v-4fe4bede]{-ms-flex:1;flex:1}.header span[data-v-4fe4bede]{display:inline-block}.header span.placeholder[data-v-4fe4bede]{width:.36rem}.teacher-item[data-v-2eafefd0]{display:inline-block;width:calc(50% - 7.5px);margin-bottom:.16rem;font-size:13px;box-sizing:border-box}.teacher-item[data-v-2eafefd0]:nth-child(odd){margin-right:15px}.teacher-item .teacher-item__img[data-v-2eafefd0]{position:relative}.teacher-item .teacher-item__img span[data-v-2eafefd0]{position:absolute;display:inline-block;left:0;bottom:0;padding:.1rem .21rem;font-size:12px;color:#fff;background-color:#cd9c26;border-bottom-left-radius:5px}.teacher-item .teacher-item__content[data-v-2eafefd0]{margin-top:.2rem;color:#787878}.teacher-item .teacher-item__content p[data-v-2eafefd0]{margin-bottom:.2rem}.teacher-item .teacher-item__content .teacher-item__name[data-v-2eafefd0]{color:#444;font-size:15px}.teacher-item img[data-v-2eafefd0]{width:100%;height:3.6rem}.scroll-wrapper[data-v-777ea774]{top:1.18rem}.div[data-v-777ea774]{height:100%}.div .list[data-v-777ea774]{padding-top:.3rem}