/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-4fe4bede]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-4fe4bede],.header .header-right[data-v-4fe4bede]{width:.7rem}.header .header-center[data-v-4fe4bede]{-ms-flex:1;flex:1}.header span[data-v-4fe4bede]{display:inline-block}.header span.placeholder[data-v-4fe4bede]{width:.36rem}a{text-decoration:none}.live-item{display:block;width:3.3rem;margin-bottom:.3rem;font-size:12px;line-height:.4rem;color:#666}.live-item .img-wrap{width:100%;height:2.06rem;border-radius:3px}.live-item .live-item__title{color:#454545;margin-top:.12rem;font-size:14px;line-height:.5rem}.live-item .live-item__teacher{color:#4d4d4d}.live-wrapper[data-v-487d4741]{padding:.5rem .3rem 0;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap}