/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-bc7c4e9e]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-bc7c4e9e],.header .header-right[data-v-bc7c4e9e]{width:.7rem}.header .header-center[data-v-bc7c4e9e]{-ms-flex:1;flex:1}.header span[data-v-bc7c4e9e]{display:inline-block}.header span.placeholder[data-v-bc7c4e9e]{width:.36rem}.xt-slider .xt-slider__progress[data-v-3d357a56]{height:.06rem;background-color:#c9d2d9}.xt-slider .xt-slider__progress .xt-slider__progress-inner[data-v-3d357a56]{position:relative;height:100%;width:0;background-color:#3496e1;transition:all ease-in}.xt-slider .xt-slider__progress .xt-slider__progress-inner .xt-slider__block[data-v-3d357a56]{position:absolute;width:.2rem;height:.2rem;top:-.08rem;right:-.11rem;border:.04rem solid #3496e1;border-radius:100%;background-color:#fff}.audio-player[data-v-6d13e112]{position:fixed;padding-top:.88rem;width:100%;height:100%;background-color:#fff;box-sizing:border-box;z-index:8}.audio-player .audio-img[data-v-6d13e112]{position:relative;height:8rem}.audio-player .audio-img img[data-v-6d13e112]{width:100%;height:100%}.audio-player .audio-img button[data-v-6d13e112]{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);border:none;outline:none}.audio-player .audio-actions[data-v-6d13e112]{padding-top:.5rem;height:3.27rem}.audio-player .audio-control[data-v-6d13e112]{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;color:#3496e1;font-size:10px}.audio-player .audio-control .audio-control__progress[data-v-6d13e112]{-ms-flex:1;flex:1;margin:0 .2rem}.audio-player .audio-name[data-v-6d13e112]{margin-top:.5rem;font-size:13px;color:#444}