/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.course-item[data-v-73a51788]{width:3.3rem;margin-top:.3rem;margin-bottom:.07rem;line-height:1;color:#7c8089}.course-item .img-wrap[data-v-73a51788]{width:100%;box-shadow:0 1px 2px rgba(0,0,0,.1)}.course-item .img-wrap img[data-v-73a51788]{max-width:100%;height:2.06rem}.course-item[data-v-73a51788]:nth-of-type(odd){margin-right:.3rem}.course-item .course-title[data-v-73a51788]{margin-top:.24rem;margin-bottom:.14rem;color:#444}.course-item .course-intro[data-v-73a51788]{margin-bottom:.23rem;color:#666}.course-item .course-info[data-v-73a51788]{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.course-item .course-info .course_info__score[data-v-73a51788]{display:inline-block;margin-left:.12rem}.course-item .course-info .course-info__num[data-v-73a51788]{margin-left:.2rem}.course-item .course-price[data-v-73a51788]{font-size:13px;color:#666;line-height:.45rem}.course-item .course-price span[data-v-73a51788]{color:#ff5d16}.teacher-item[data-v-2435c09a]{display:inline-block;width:3.2rem;margin-bottom:.16rem;font-size:13px;box-sizing:border-box}.teacher-item[data-v-2435c09a]:nth-child(odd){margin-right:.5rem}.teacher-item .teacher-item__img[data-v-2435c09a]{position:relative}.teacher-item .teacher-item__img span[data-v-2435c09a]{position:absolute;display:inline-block;left:0;bottom:0;padding:.1rem .21rem;font-size:12px;color:#fff;background-color:#cd9c26;border-bottom-left-radius:5px}.teacher-item .teacher-item__content[data-v-2435c09a]{margin-top:.2rem;color:#787878}.teacher-item .teacher-item__content p[data-v-2435c09a]{margin-bottom:.2rem}.teacher-item .teacher-item__content .teacher-item__name[data-v-2435c09a]{color:#444;font-size:15px}.teacher-item img[data-v-2435c09a]{width:100%;height:3.6rem}.scroll-wrapper[data-v-d7d4b8ea]{top:1.78rem}.bg-wrapper[data-v-d7d4b8ea]{top:1.78rem;left:0;bottom:0;right:0}.bg-wrapper .bg-empty[data-v-d7d4b8ea]{width:100%;top:50%;transform:translateY(-50%)}