/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-bc7c4e9e]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-bc7c4e9e],.header .header-right[data-v-bc7c4e9e]{width:.7rem}.header .header-center[data-v-bc7c4e9e]{-ms-flex:1;flex:1}.header span[data-v-bc7c4e9e]{display:inline-block}.header span.placeholder[data-v-bc7c4e9e]{width:.36rem}.mask[data-v-05b15f25]{position:fixed;top:0;height:100%;width:100%;background-color:rgba(0,0,0,.5);z-index:100}.mask .modal[data-v-05b15f25]{margin:0 auto;margin-top:2.12rem;width:6.5rem;height:4.32rem;background-color:#fff;border-radius:3px;padding:.2rem}.mask .modal p[data-v-05b15f25]:first-child{text-align:right}.mask .modal p[data-v-05b15f25]:nth-of-type(2){text-align:center;color:#4d4d4d;margin-bottom:1.02rem}.mask .modal p[data-v-05b15f25]:last-child{margin-top:.88rem;text-align:center}.mask .modal p:last-child button[data-v-05b15f25]{width:2.5rem;height:.6rem;color:#fff;border:none;outline:none;border-radius:5px;background-color:#3496e1}.mask .modal .modal-input[data-v-05b15f25]{padding-left:.3rem;padding-right:.3rem}.mask .modal .modal-input input[data-v-05b15f25]{width:100%;height:.8rem;border:none;outline:none;color:#999;text-indent:.1rem;background-color:#f0f0f0;border-radius:5px;font-size:16px;letter-spacing:1px}.join-tips[data-v-33951050]{margin-top:.2rem}.table[data-v-33951050]{margin-top:.25rem;width:100%;color:#4d4d4d;font-size:14px}.table tr[data-v-33951050]{height:1rem;line-height:1rem}.table tr td[data-v-33951050]:nth-of-type(2){color:#666}.table tr td[data-v-33951050]:last-child{text-align:right}.table tr button[data-v-33951050]{width:1.3rem;height:.44rem;line-height:.44rem;color:#3496e1;border-radius:5px;outline:none;border:1px solid #3496e1;background-color:#fff}.table tr button span[data-v-33951050]{margin-left:.05rem;margin-top:.1rem}