/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-bc7c4e9e]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-bc7c4e9e],.header .header-right[data-v-bc7c4e9e]{width:.7rem}.header .header-center[data-v-bc7c4e9e]{-ms-flex:1;flex:1}.header span[data-v-bc7c4e9e]{display:inline-block}.header span.placeholder[data-v-bc7c4e9e]{width:.36rem}.icon-trash__a[data-v-3b3d59c2]{position:absolute;right:0;top:.1rem}.container[data-v-3b3d59c2]{font-size:14px}.container .time[data-v-3b3d59c2]{font-size:12px;color:#999}.ta-item[data-v-3b3d59c2]{padding:.4rem .3rem;line-height:.45rem;border-bottom:1px solid #e9eef0}.ta-item .ta-question__title[data-v-3b3d59c2]{position:relative;color:#333}.ta-item .ta-question__title p[data-v-3b3d59c2]{padding-right:.4rem}.ta-item .ta-question__title span[data-v-3b3d59c2]{position:absolute;top:0}.ta-item .ta-question__detail[data-v-3b3d59c2]{color:#666}.ta-item .ta-answer img[data-v-3b3d59c2]{float:left;width:.74rem;height:.74rem;border-radius:50%;border:1px solid #ccc}.ta-item .ta-answer .ta-content[data-v-3b3d59c2]{padding-left:.17rem;overflow:hidden}.ta-item .ta-answer .ta-content .ta-content__bar[data-v-3b3d59c2]{padding-top:.1rem;color:#333}.ta-item .ta-answer .ta-content .ta-content__bar span[data-v-3b3d59c2]{padding-top:.15rem;margin-left:.1rem}.ta-item .ta-answer .ta-content .ta-content__txt[data-v-3b3d59c2]{color:#666}.ta-item .ta-answer .ta-content a[data-v-3b3d59c2]{color:#3496e1}