/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.ui-message{height:100%}.ui-message .scroll-wrapper{top:1.08rem;bottom:1rem}.discussion[data-v-0d553721]{padding-bottom:1rem}.discussion .name[data-v-0d553721]{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}.discussion .msg .txt .ans[data-v-0d553721]{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1}