/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.footer[data-v-60d027c9]{height:1rem;position:fixed;bottom:0;width:100%;background:#fff;z-index:9;box-shadow:-1px 0 2px rgba(0,0,0,.1)}.footer .content[data-v-60d027c9]{display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;height:50px}.footer .content .nav[data-v-60d027c9]{position:relative;display:-ms-flexbox;display:flex;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-ms-flex:1;flex:1;font-size:.2rem;text-align:center}.footer .content .nav .badage[data-v-60d027c9]{display:inline-block;position:absolute;width:.3rem;height:.3rem;line-height:.3rem;left:55%;top:7%;color:#fff;text-align:center;background-color:red;font-size:12px;border-radius:50%}.footer .content .nav.active .name[data-v-60d027c9]{color:#14afff}.footer .content .nav .name[data-v-60d027c9]{color:#a6a6a6}.footer .content .nav .icon[data-v-60d027c9]{margin:0 auto;height:.65rem}.user[data-v-9478e718]{overflow-y:auto;padding-bottom:1.2rem}.sex[data-v-9478e718]{margin-top:.03rem;margin-left:.14rem}.user-info[data-v-9478e718]{height:3.25rem;padding-top:.5rem}.user-info img[data-v-9478e718]{width:1.5rem;height:1.5rem;border:.06rem solid #fff;border-radius:100%}.user-info .user-info__detail[data-v-9478e718]{color:#fff}.user-info .user-info__detail .user-info__name[data-v-9478e718]{margin:.32rem 0}.user-info .user-info__detail .user-info__school[data-v-9478e718]{font-size:12px}.user-info .user-info__detail .user-info__school span[data-v-9478e718]{margin:0 .4rem}.user-menus .line-part[data-v-9478e718]{margin-left:-.3rem;margin-right:-.3rem}.user-menus .menu-item[data-v-9478e718]{display:-ms-flexbox;display:flex;height:1rem;line-height:1rem;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;font-size:14px;background-color:#fff}.user-menus .menu-item[data-v-9478e718]:first-child{margin-bottom:5px}.user-menus .menu-item[data-v-9478e718]:not(:first-child){border-bottom:1px solid #dfe6eb}.user-menus .menu-item[data-v-9478e718]:last-child{border-bottom:none}.icon[data-v-9478e718]{margin-top:.3rem;margin-right:.26rem}