/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-bc7c4e9e]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-bc7c4e9e],.header .header-right[data-v-bc7c4e9e]{width:.7rem}.header .header-center[data-v-bc7c4e9e]{-ms-flex:1;flex:1}.header span[data-v-bc7c4e9e]{display:inline-block}.header span.placeholder[data-v-bc7c4e9e]{width:.36rem}.error-item[data-v-30fb9ae2]{font-size:14px;box-shadow:0 1px 3px #ccc}.error-item .error-title[data-v-30fb9ae2]{padding:.3rem;color:#333;background-color:#f4f5f7}.error-item .error-body__item[data-v-30fb9ae2]{height:1.1rem;line-height:1.1rem;color:#666}.error-item .error-body__item[data-v-30fb9ae2]:not(:last-child){border-bottom:1px solid #d1dce4}