/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.footer[data-v-60d027c9]{height:1rem;position:fixed;bottom:0;width:100%;background:#fff;z-index:9;box-shadow:-1px 0 2px rgba(0,0,0,.1)}.footer .content[data-v-60d027c9]{display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;height:50px}.footer .content .nav[data-v-60d027c9]{position:relative;display:-ms-flexbox;display:flex;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-ms-flex:1;flex:1;font-size:.2rem;text-align:center}.footer .content .nav .badage[data-v-60d027c9]{display:inline-block;position:absolute;width:.3rem;height:.3rem;line-height:.3rem;left:55%;top:7%;color:#fff;text-align:center;background-color:red;font-size:12px;border-radius:50%}.footer .content .nav.active .name[data-v-60d027c9]{color:#14afff}.footer .content .nav .name[data-v-60d027c9]{color:#a6a6a6}.footer .content .nav .icon[data-v-60d027c9]{margin:0 auto;height:.65rem}