/*!
 * {
 *   "buildtime": "2019-05-31 16:22:54",
 *   "workspace": "F:\\X-BOOK\\xcloud\\x-book4\\js",
 *   "username": "LQB",
 *   "hostname": "DESKTOP-QL56OJS",
 *   "platform": "win32",
 *   "git": {
 *     "branch": "master",
 *     "hash": "fbc007935",
 *     "message": [
 *       "commit fbc00793544e5767db1868f95f89c64b93f3aa79",
 *       "Author: 骆秋波 <1277678760@qq.com>",
 *       "Date:   Fri May 31 15:21:03 2019 +0800",
 *       "    打包上传"
 *     ],
 *     "user": "骆秋波",
 *     "email": "1277678760@qq.com",
 *     "remote": [
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (fetch)",
 *       "origin http://gitlab.kf.gli.cn/xcloud/x-book4.git (push)"
 *     ]
 *   }
 * }
 */.header[data-v-4fe4bede]{position:fixed;top:0;width:100%;height:.88rem;padding:0 .2rem;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;box-sizing:border-box;color:#fff;background-color:#3496e1;box-shadow:0 2px 3px rgba(0,0,0,.1);z-index:9}.header .header-left[data-v-4fe4bede],.header .header-right[data-v-4fe4bede]{width:.7rem}.header .header-center[data-v-4fe4bede]{-ms-flex:1;flex:1}.header span[data-v-4fe4bede]{display:inline-block}.header span.placeholder[data-v-4fe4bede]{width:.36rem}.ui-textarea__body textarea[data-v-f9e88ada]{height:2.65rem}.icon-img[data-v-71b4f338]{margin:0 .42rem}.box[data-v-71b4f338]{background:#f7f7f7;height:100vh}.content[data-v-71b4f338]{background:#f7f7f7;padding-top:1.1rem}.content .pr[data-v-71b4f338]{width:100%;height:100%}.content .pr .msg-container[data-v-71b4f338]{width:100%;overflow:auto;bottom:0;padding-bottom:1rem;background-color:#f7f7f7;padding:0 .2rem 1rem;box-sizing:border-box}.sendMsg[data-v-71b4f338]{position:fixed;bottom:0;width:100%;background:#fff;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;height:1rem}.sendMsg textarea[data-v-71b4f338]{-ms-flex:1;flex:1;-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto;font-size:14px;border:none;border-radius:2px;line-height:.32rem;outline:none;padding-bottom:10px;letter-spacing:2px;word-break:break-all;resize:none}.sendMsg .send[data-v-71b4f338]{color:#3496e1;line-height:1rem;width:60px;text-align:center}.ui-textarea__bottom button[data-v-71b4f338]{padding:0;background-color:transparent}.hide[data-v-71b4f338]{display:none}